<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<!-- CDN方式引入vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
</script>
<body>
    <!-- 遍历数组 -->
    <div id="example-1">
        <ul>
            <!-- of或者in都可以 -->
            <li v-for="item of items">
                {{item.message}}
            </li>
        </ul>
    </div>
    <!-- 遍历数组+index+父元素的属性 -->
    <div id="example-2">
            <ul>
                <li v-for="(item,index) in items">
                    {{parentMessage}} - {{index}} - {{item.message}}
                </li>
            </ul>
        </div>
        <!-- v-for 也可以用来遍历一个对象的属性 -->
        <!-- <ul id="v-for-object" class="demo">
            <li v-for="value in object">
                {{value}}
            </li>
        </ul> -->
        <!-- 可以提供第二个参数为property名称（也就是键名） -->
        <ul id="v-for-object">
            <li v-for="(value,name,index) in object">
                {{name}} : {{value}}
            </li>
        </ul>
        <!-- 还可以用第三个参数作为索引 -->
        <div id="v-for-object2">
            <div v-for="(value, name,index) in obj" >
                {{index}}.{{name}} : {{value}}
            </div>
        </div>
</body>
</html>
<script>
    Vue.component('todo-item',{
        template:'\
            <li>\
            {{title}}\
            <button @click="$emit(\'remove\')">Remove</button>\
            </li>\
        ',
        props:['title']
    })
    new Vue ({
        el:"#todo-list-example",
        data:{
            newTodoText:'',
            todos:[
                {
                    id:1,
                    title:'Do the dishes'
                },
                {
                    id:2,
                    title:'Take out the trash'
                },
                {
                    id:3,
                    title:'Mow the lawn'
                }
            ],
            nextTodoId:4
        },
        methods:{
            addNewTodo:function(){
                this.todos.push({
                    id:this.nextTodoId++,
                    title:this.newTodoText
                })
                this.newTodoText=''
            }
        }
    })


    new Vue ({
        el:'#v-for-object2',
        data:{
            obj:{
                title:'How to do',
                author:'Jane Doe',
                publishedAt:'2011-02-01'
            }
        }
    })
    new Vue ({
        el:'#v-for-object',
        data:{
            object:{
                title:'How to do',
                author:'Jane Doe',
                publishedAt:'2011-02-01'
            }
        }
    })
    var vm = new Vue({
        el:'#example-1',
        data:{
            items:[
                {message:'Foo'},
                {
                    message:'Bar'
                }
            ]
        }
    })
    var vm2 = new Vue({
        el:'#example-2',
        data:{
            parentMessage:'Parent',
            items:[
                {message:'Foo'},
                {
                    message:'Bar'
                }
            ]
        }
    })
</script>